# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app


# Figure
*.pdf
*.eps
*.ps
*.png
*.jpg


# Vim
*.swp

# Root file
*.root

# binary and others
/ExpGaus/bin/
/ExpGaus/lib/
/ExpGaus/fig/

/HypChart/bin/
/HypChart/lib/
/HypChart/fig/

/HyperDiag/bin/
/HyperDiag/lib/
/HyperDiag/fig/

/htl/bin/
/htl/lib/
/htl/fig/
